
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            text-align: center;
        }
        .card-img-top {
            display: block;
            justify-content: center;
            height: 250px;
            width: 180px;
            object-fit: cover;
            margin:  auto;
        }
        .stylecard{
            max-width: 250px;
            margin: auto;
        }
    